/* general stuff */

.modal-dialog {
    border:3px #000 solid;
    border-radius:10px;
}


/* thanks page */
.thanksfield { font-weight: bolder}

/* Index Page */
/* TODO:stop gap, include this in the lib */

.btn_yes {
    background: #33D107;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    margin: 10px 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
    border: 1px solid #E6E6E6;
    white-space: normal;
    height: auto;
    font-size: 25px;

}
.btn_yes span.subtext {
    color: #279707;
    font-size: 14px;
    font-weight: normal;
}
.btn_yes i {
    margin-right: 10px;
}

.btn_yes:hover {
    background: #279707;
    color: #fff;
}
.btn_yes:hover span.subtext {
    color: #33D107;
    font-size: 14px;;
}

.div_notyes_btn {
    background: #F00;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ce0202;
    white-space: normal;
    height: auto;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
}

.div_notyes_btn a {
    color: #fff;
}

.div_notyes_btn:hover a {
    color: #eee;
    text-decoration: underline;
}

.pre_foot img {
    width:100%;
}

@-webkit-keyframes glowing {
    0% { background-color: #FF0000; -webkit-box-shadow: 0 0 15px #7A1E1D; }
    50% { background-color: #FF837B; -webkit-box-shadow: 0 0 40px #7A1E1D; }
    100% { background-color: #FF0000; -webkit-box-shadow: none; }
}

@-moz-keyframes glowing {
    0% { background-color: #FF0000; -moz-box-shadow: 0 0 15px #7A1E1D; }
    50% { background-color: #FF837B; -moz-box-shadow: 0 0 40px #7A1E1D; }
    100% { background-color: #FF0000; -moz-box-shadow: none; }
}

@-o-keyframes glowing {
    0% { background-color: #FF0000; box-shadow: 0 0 15px #7A1E1D; }
    50% { background-color: #FF837B; box-shadow: 0 0 40px #7A1E1D; }
    100% { background-color: #FF0000; box-shadow: none; }
}

@keyframes glowing {
    0% { background-color: #FF0000; box-shadow: 0 0 15px #7A1E1D; }
    50% { background-color: #FF837B; box-shadow: 0 0 40px #7A1E1D; }
    100% { background-color: #FF0000; box-shadow: none; }
}

.div-flash {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;

    -webkit-animation-iteration-count: 4;
    -moz-animation-iteration-count: 4;
    -o-animation-iteration-count: 4;
    animation-iteration-count: 4;
}