@font-face {
    font-family: 'Nexa Black';
    src: url('../../fonts/nexa/nexablack-webfont.eot');
    src: url('../../fonts/nexa/nexablack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nexa/nexablack-webfont.woff2') format('woff2'),
         url('../../fonts/nexa/nexablack-webfont.woff') format('woff'),
         url('../../fonts/nexa/nexablack-webfont.ttf') format('truetype'),
         url('../../fonts/nexa/nexablack-webfont.svg#nexa_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Heavy';
    src: url('../../fonts/nexa/nexaheavy-webfont.eot');
    src: url('../../fonts/nexa/nexaheavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nexa/nexaheavy-webfont.woff2') format('woff2'),
         url('../../fonts/nexa/nexaheavy-webfont.woff') format('woff'),
         url('../../fonts/nexa/nexaheavy-webfont.ttf') format('truetype'),
         url('../../fonts/nexa/nexaheavy-webfont.svg#nexa_heavyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Regular';
    src: url('../../fonts/nexa/nexaregular-webfont.eot');
    src: url('../../fonts/nexa/nexaregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nexa/nexaregular-webfont.woff2') format('woff2'),
         url('../../fonts/nexa/nexaregular-webfont.woff') format('woff'),
         url('../../fonts/nexa/nexaregular-webfont.ttf') format('truetype'),
         url('../../fonts/nexa/nexaregular-webfont.svg#nexa_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Thin';
    src: url('../../fonts/nexa/nexathin-webfont.eot');
    src: url('../../fonts/nexa/nexathin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nexa/nexathin-webfont.woff2') format('woff2'),
         url('../../fonts/nexa/nexathin-webfont.woff') format('woff'),
         url('../../fonts/nexa/nexathin-webfont.ttf') format('truetype'),
         url('../../fonts/nexa/nexathin-webfont.svg#nexa_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Bold';
    src: url('../../fonts/nexa/nexa-bold-webfont.eot');
    src: url('../../fonts/nexa/nexa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nexa/nexa-bold-webfont.woff2') format('woff2'),
         url('../../fonts/nexa/nexa-bold-webfont.woff') format('woff'),
         url('../../fonts/nexa/nexa-bold-webfont.ttf') format('truetype'),
         url('../../fonts/nexa/nexa-bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Book';
    src: url('../../fonts/nexa/nexa-book-webfont.eot');
    src: url('../../fonts/nexa/nexa-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nexa/nexa-book-webfont.woff2') format('woff2'),
         url('../../fonts/nexa/nexa-book-webfont.woff') format('woff'),
         url('../../fonts/nexa/nexa-book-webfont.ttf') format('truetype'),
         url('../../fonts/nexa/nexa-book-webfont.svg#nexa_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Light';
    src: url('../../fonts/nexa/nexa-light-webfont.eot');
    src: url('../../fonts/nexa/nexa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nexa/nexa-light-webfont.woff2') format('woff2'),
         url('../../fonts/nexa/nexa-light-webfont.woff') format('woff'),
         url('../../fonts/nexa/nexa-light-webfont.ttf') format('truetype'),
         url('../../fonts/nexa/nexa-light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa X Bold';
    src: url('../../fonts/nexa/nexa-xbold-webfont.eot');
    src: url('../../fonts/nexa/nexa-xbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nexa/nexa-xbold-webfont.woff2') format('woff2'),
         url('../../fonts/nexa/nexa-xbold-webfont.woff') format('woff'),
         url('../../fonts/nexa/nexa-xbold-webfont.ttf') format('truetype'),
         url('../../fonts/nexa/nexa-xbold-webfont.svg#nexa_xboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}