@import "ss/assets/_normalize.scss";


@import "ss/assets/_variables.scss";
@import "ss/assets/_mixins.scss";
@import "ss/assets/_fixers.scss";
@import "tm3/assets/_opensans.scss";
//@import "ss/assets/_font-awesome.scss";
@import "ss/assets/_modal.scss";

// ================================
//              Styles
// ================================

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  background: $white;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: #{$main-font-size}px;
}

img {
  width: auto !important;
  height: auto !important;
}

.overhide {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1070px;
  width: 90%;
  margin: 0 auto;
}

.page-header {
  .title {
    background: black;
    text-align: center;
    color: $white;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: em(17);
    padding: 5px 0;
  }

  .background {
    @include background("../../images/tm3/headerimage.jpeg", cover, center top);
    padding: 20px 0;
  }

  @media (max-width: $screen-xs-max) {
    .background {
      padding: 15px 0;
      text-align: center;
    }
  }
}

.main-article {
  @include clearfix;
  font-size: em(17);
  font-weight: 400;
  line-height: 1.75em;
  padding-top: 20px;

  .reviews {
    width: 41%;
    margin-left: 3%;
    float: right;
    font-style: italic;

    .title {
      font-weight: 700;
      border-bottom: 5px solid #808080;
      font-size: em(14);
      padding-bottom: 4px;
      font-style: normal;
    }

    @media (max-width: $screen-xs-max) {
      float: none;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }

  .left-column {
    float: left;
    width: 55%;

    @media (max-width: $screen-xs-max) {
      float: none;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }

  strong { font-weight: 700; }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.15em;
  }

  a {
    color: #377BB5;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  a.cta {
    background: #C62927;
    color: $white;
    padding: 15px 25px;
    border-radius: 4px;
    margin: 20px 0;

    &:hover {
      color: #333333;
      text-decoration: none;
    }

    &.green {
      background: #0F8012;
    }

    &.block {
      display: block;
      text-align: center;
    }

    &.add-ls {
      letter-spacing: 4px;
    }
  }

  img {
    display: block;

    &.alignright {
      margin-top: 0px;
      margin-bottom: 0px;
      float: right;
      margin-left: 30px;
    }

    &.alignleft {
      margin-top: 0px;
      margin-bottom: 0px;
      float: left;
      margin-right: 30px;
    }

    &.aligncenter {
      margin: 22px auto;
      display: block;
    }

    @media (max-width: $screen-sm-max) {
      &.alignright, &.alignleft, &.aligncenter {
        display: block;
        margin-right: auto;
        margin-left: 0px;
        float: none;
      }
    }
  }

  .main-title {
    font-size: em(25);
    line-height: 1.3em;
    margin-bottom: 30px;
  }

  > * {
    margin: 22px 0;
  }

  .image-caption {
    width: 45%;
    margin-top: 0px;
    margin-bottom: 20px;
    z-index: 100;

    &.right {
      float: right;
      margin-left: 25px;
    }

    &.left {
      float: left;
      margin-right: 25px;
    }

    img {
      display: block;
      width: 100%;
      min-width: 100%;
    }

    .caption {
      background: rgba(#eee, 0.5);
      margin: 0;
      padding: 12px;
      font-size: em(13);
      line-height: 1.75em;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;

      &.right {
        float: none;
        margin-left: 0px;
      }

      &.left {
        float: right;
        margin-right: 0px;
      }
    }
  }

  blockquote {
    background: #F9F9F9;
    border-left: 9px solid #CCCCCC;
    padding: 20px;
    font-size: em(13);
    line-height: 1.75em;
    margin: 0;

    &:before {
      content: "\f10d";
      font-family: FontAwesome;
      position: absolute;
      top: -10px; left: 10px;
      color: #CCCCCC;
      font-size: 40px;
    }

    > * {
      margin: 8px 0;

      &:first-child { margin-top: 0px; }
      &:last-child { margin-bottom: 0px; }
    }
  }

  .right-div {
    width: 52%;
    float: right;

    margin-top: 0px;

    > *:first-child { margin-top: 0px; }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      font-weight: normal;
    }
  }

  .clearfix {
    @include clearfix;
  }
}

.article-footer {
  margin: 70px auto 50px auto;
  text-align: center;

  .container {

    .social-media {
      text-align: center;
      font-size: 26px;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        padding: 0 5px;
        // &:not(:last-child) { margin-right: 5px; }

        a {
          display: block;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          @include social-media-colors;
          color: $white;

          top: 0px;
          transition: all ease-out 300ms;

          &:hover {
            top: -4px;
          }
        }

        a.icon-facebook {
          background: url("../../images/sns/social.png") no-repeat left 0;
        }

        a.icon-twitter {
          background: url("../../images/sns/social.png") no-repeat right 0;
        }

        a.icon-instagram {
          background: url("../../images/sns/social.png") no-repeat center 0;
        }
      }
    }

    .nav {
      text-align: center;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        font-weight: 400;

        &:not(:last-child):after {
          content: "|";
          margin-left: 9px;
          margin-right: 4px;
          color: #ccc;
        }
      }
    }

  }
}

.disclaimer-footer {
  background: #333333;
  // @include important-color($white);
  color: $white;
  padding: 40px 0 40px 0;
  font-size: em(13);

  border-bottom: 15px solid black;

  .container {

    > *:not(.modal) {
      margin: 15px 0;

      &:first-child { margin-top: 0px; }
      &:last-child { margin-bottom: 0px; }
    }

    .title {
      font-weight: 400;
      line-height: 1.2em;
      font-size: em(34);
    }

    ul.nav {
      list-style-type: none;
      padding: 0;
      font-size: 1.1em;

      li {
        display: inline-block;

        &:not(:last-child):after {
          content: "-";
          margin-left: 7px;
          margin-right: 3px;
        }

        a {
          text-decoration: none;
          &:hover { text-decoration: underline; }
        }
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    padding: 30px 0 30px 0;
    font-size: em(10);
  }
}

.modal-window {
  @include important-color(#333);
  font-size: em(18);
  padding: 20px;
  line-height: 1.55em;

  > * {
    margin: 20px 0;

    &:first-child { margin-top: 0px; }
    &:last-child { margin-bottom: 0px; }
  }
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.lazy {
  display: none;
}

a.yellow {
  background: #FFFF00;
  color: #5491C1;
  text-decoration: underline;
  padding: 1px 4px;
}