@charset "utf-8";
/* CSS Document */

@media (max-width:1024px){

	.content{
		width:auto;
		padding:20px;
		margin-top:90px;
	}
	
	.wrapper{
		width:100%;
	}
	
		.header-left{
			float:left;
			margin-left:20px;
		}
		
		.header-right{
			float:right;
			margin-right:20px;
		}
	
}

@media (max-width:768px){

	h1{
		font-size:20px;
	}
	
	header{
		width:100%;
		padding-top:10px;
		padding-bottom:10px;
	}
	
		.header-left{
			width:auto;
			float:none;
		}
		
			.title{
				text-align: center;
			}
		
			.title img{
				width:60%;
			}
			
			.title2{
				margin-bottom:15px;
			}
			
		.header-right{
			float:none;
			text-align:center;
		}
	
	.wrapper{
		width:100%;
	}
	
	.content{
		width:auto;
		padding:20px;
		margin-top:90px;
	}
	
	.photo-img{
		width:100%;
		margin-bottom:20px;
	}
	
	.review{
		width:auto;
	}
	
		.review-left{
			width:auto;
			padding:20px;
		}
		
			.review-left img{
				width:100%;
			}
		
		.review-right{
			width:auto;
			padding:20px;
		}
		
	.order-butt{
		text-align:center;
	}
	
	footer{
		padding-left:20px;
		padding-right:20px;
	}
	
}

@media (max-width:320px){
	
	h1{
		font-size:20px;
	}
	
	header{
		width:100%;
		padding-top:10px;
		padding-bottom:10px;
	}
	
		.header-left{
			width:auto;
			float:none;
		}
		
			.title{
				text-align: center;
			}
		
			.title img{
				width:85%;
			}
			
			.title2{
				margin-bottom:15px;
			}
			
		.header-right{
			float:none;
			text-align:center;
		}
	
	.wrapper{
		width:100%;
	}
	
	.content{
		width:auto;
		padding:20px;
		margin-top:90px;
	}
	
	.photo-img{
		width:100%;
		margin-bottom:20px;
	}
	
	.review{
		width:auto;
	}
	
		.review-left{
			width:auto;
			padding:20px;
		}
		
			.review-left img{
				width:100%;
			}
		
		.review-right{
			width:auto;
			padding:20px;
		}
		
	.order-butt{
		text-align:center;
	}
	
	footer{
		padding-left:20px;
		padding-right:20px;
	}
	
}