body{ margin:0; padding:0;background-size:100%;
 /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/}
html{ margin:0; padding:0; box-sizing:border-box; font-family: 'Open Sans', sans-serif;}
h1, h2, h3, h4, h5, h6, ul, form, select, input, textarea{ margin:0; padding:0;}
ul li{ list-style:none}
img{ max-width:100%;}
a{ text-decoration:none;}
a img{ border:none;}
.clr{ clear:both;}
.logo{ text-align:center; padding:30px 0 20px 0;}
.main_con{ background:rgba(0, 0, 0, .64);}
.top_title{ background:url(../../images/hdlmp_1/title_bg.png) no-repeat; text-align:center; padding:22px 0; background-size:100%; background-size:cover;}
.top_title h2{ font-size:40px; font-weight:800; color:#ff6600; text-transform:uppercase; line-height:40px; margin:0; padding:0;}
.top_title h2 span{ font-weight:300;}
.video video{ width:100%; height:350px;}
.inn_con{ padding:15px 20px;}
.rt_sec h3{ font-size:24px; margin:10px 0 10px 0; font-weight:400; color:#fff; background:url(../../images/hdlmp_1/text_bg.png) no-repeat top left, url(../../images/hdlmp_1/text_bg.png) no-repeat left bottom; padding:20px 0;}
.rt_sec h3 span{ font-weight:700;}
.rt_sec p{ color:#fff; font-size:16px; font-weight:400; padding:0 0 15px 0; margin:0;}
.rt_sec ul{ margin:0 0 20px 0; padding:0;}
.rt_sec ul li{ display:block; font-size:14px; font-weight:400; color:#fff; margin: 0 0 6px;}
.rt_sec ul li span{ color:#ff6600;}
.rt_sec h4{ font-size:16px; color:#fff; font-weight:700; padding:0 0 15px 0;}
.p_left{ text-align:center; position:relative;}
.spacer{height:20px;}
.label_new{ position:absolute; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b42b00+0,fa6200+44,b42b00+100 */
	background:url(../../images/hdlmp_1/label_bg.png) no-repeat;width:101px;height:101px;border-radius:100%;left:6vw;color:#fff;text-align:center; padding: 10px 0 7px; }
.label_new h5{ margin:0; padding:0;font-size:16px; font-weight:700;}
.label_new h6{ color:#fff; font-size:40px; font-weight:800; margin:0; padding:0;}
.label_new h6 span{ font-size:24px; display: inline-block; vertical-align:top;}
.p_sel{ position:relative;}
.p_sel label{ position:absolute; color:#fff; font-size:16px; font-weight:700; left:-137px; top:10px;}
.p_sel select{  background:#fff url(../../images/hdlmp_1/drop_arrow.png) no-repeat 98% center; -webkit-appearance:none; -moz-appearance:none; appearance:none; border:none; height:40px; -webkit-border-radius: 5px;
-moz-border-radius: 5px; border-radius: 5px; width:100%;}
.cart_btn{ padding:17px 0;}
.b_text{ padding:40px 0 150px 0; text-align:center;}
.b_text h4{ color:#fff; font-size:24px; font-weight:400; margin:0; padding:0;}
.b_text h2{ color:#fff; font-size:36px; text-transform:uppercase; font-weight:800;margin:0; padding:0;}
.b_text h2 em{ display:block; font-size:16px; font-weight:300;}
.b_text h4 strong{ font-weight:700;}
.center-block > img {display: block;}

/*----------------------------------Responsive------------------------------------------------*/

@media (max-width: 1200px){
.top_title h2{ font-size:28px;}		
}
@media (max-width: 768px){

		
}
@media (max-width: 767px){
.top_title{ background:url(../../images/hdlmp_1/phone_bg.png) repeat-x; padding: 11px;}
.top_title h2 {font-size: 19px;line-height: 24px;}
.hide{ display:none;}	
body{ background:#000 url(../../images/hdlmp_1/phone_main.jpg) no-repeat ; background-size:100%;}
.logo { margin: 0 auto; padding: 8px 0 18px;text-align: center; width: 199px;}
.container{ padding:0;}
.inn_con {padding: 0 20px;}
.video video {height: 160px;}
.video {padding: 0 0 30px;}
.rt_sec h3{ font-size:20px;}
.p_sel label{ display:none;}
.b_text h4{ font-size:20px;}
.b_text h2{font-size:30px;}
.b_text {padding: 40px 0 100px;text-align: center;}
		
}