@charset "utf-8";
/* CSS Document */

@media (max-width:768px){
	
	.wrapper{
		width:100%;
	}
	
	header{
		width:auto;
	}
	
		header img{
			width: auto;
		}
	
	.steps{
		display:none;
	}
	
	.steps-mobile{
		width:100%;
		margin:auto;
		display:block;
	}
	
		.step1{
			background:#000000;
			width: 250px;
			height: auto;
			margin: auto;
			text-align: center;
			margin-bottom: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			-webkit-transform-origin: 100% 0;
			-ms-transform-origin: 100% 0;
			transform-origin: 100% 0;
			-webkit-transform: skew(-6deg);
			-ms-transform: skew(-6deg);
			transform: skew(-6deg);
		}
		
		.step2{
			width: 250px;
			height: auto;
			margin: auto;
			text-align: center;
			margin-bottom: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			-webkit-transform-origin: 100% 0;
			-ms-transform-origin: 100% 0;
			transform-origin: 100% 0;
			-webkit-transform: skew(-6deg);
			-ms-transform: skew(-6deg);
			transform: skew(-6deg);
		}
		
		.step3{
			background:#000000;
			width: 250px;
			height: auto;
			margin: auto;
			text-align: center;
			margin-bottom: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			-webkit-transform-origin: 100% 0;
			-ms-transform-origin: 100% 0;
			transform-origin: 100% 0;
			-webkit-transform: skew(-6deg);
			-ms-transform: skew(-6deg);
			transform: skew(-6deg);
		}
		
.textbox{
	width:auto;
	padding-left: 20px;
    padding-right: 20px;
}

	.textbox-txt1 {
    	font-size: 17px;
	}

.image{
	background:url(../images/sand.jpg) no-repeat center;
	margin-top:-5px;	
}

.image img{
	width:54%;
	top:-15px;
}


	.first{
		background:none;
		height: 107px !important;
	}
	
		.border{
			width:auto;
		}
		
		.box-inner1{
			width:auto;
			margin:0;
			font-size:20px;
		}
	
	.second{
		background:#fff;
	}
	
		.box-inner2{
			width:89%;
			font-size: 11px;
		}
		
			.button2{
				width:55%;
			}
			
		.box-inner3{
			width:89%;
			font-size:11px;
		}
		
			.button3{
				width:55%;
			}
			
	.third{
		background:#f0f0f0;
	}
	
	.bottom-txt {
		width: 89%;
		margin: auto;
	}
		
}

@media (max-width:320px){
	
	.wrapper{
		width:100%;
	}
	
	header{
		width:auto;
	}
	
		header img{
			width: 78% !important;
		}
	
	.steps{
		display:none;
	}
	
	.steps-mobile{
		width:100%;
		margin:auto;
		display:block;
	}
	
		.step1{
			width: 250px;
			height: auto;
			margin: auto;
			text-align: center;
			margin-bottom: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			-webkit-transform-origin: 100% 0;
			-ms-transform-origin: 100% 0;
			transform-origin: 100% 0;
			-webkit-transform: skew(-6deg);
			-ms-transform: skew(-6deg);
			transform: skew(-6deg);
		}
		
		.step2{
			width: 250px;
			height: auto;
			margin: auto;
			text-align: center;
			margin-bottom: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			-webkit-transform-origin: 100% 0;
			-ms-transform-origin: 100% 0;
			transform-origin: 100% 0;
			-webkit-transform: skew(-6deg);
			-ms-transform: skew(-6deg);
			transform: skew(-6deg);
		}
		
		.step3{
			width: 250px;
			height: auto;
			margin: auto;
			text-align: center;
			margin-bottom: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			-webkit-transform-origin: 100% 0;
			-ms-transform-origin: 100% 0;
			transform-origin: 100% 0;
			-webkit-transform: skew(-6deg);
			-ms-transform: skew(-6deg);
			transform: skew(-6deg);
		}
		
.textbox{
	width:auto;
}

	.textbox-txt1 {
    	font-size: 17px;
	}

.image{
	background:url(../images/sand.jpg) no-repeat center;
	margin-top:-5px;	
}

.image img{
	width:100%;
	top:-15px;
}


	.first{
		background:none;
		height: 125px !important;
	}
	
		.border{
			width:auto;
		}
		
		.box-inner1{
			width:auto;
			margin:0;
			font-size:20px;
		}
	
	.second{
		background:#fff;
	}
	
		.box-inner2{
			width:89%;
			font-size: 11px;
		}
		
			.button2{
				width:55%;
			}
			
		.box-inner3{
			width:89%;
			font-size:11px;
		}
		
			.button3{
				width:55%;
			}
			
	.third{
		background:#f0f0f0;
	}
	
	.bottom-txt {
		width: 89%;
		margin: auto;
	}
		
}