/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
.ie-notice {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px;
  background: red;
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: em(21);
  line-height: 1.4em;
}
.ie-notice p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
